.registrationForm
{
    margin: auto;
    justify-content: center;
    align-items: center;
}

.logo
{
    width: 400px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.goBack
{
    /* position: fixed;
    bottom: 14rem;
    left: 66rem; */

    display: flex;
    padding-top: 1rem;
}