.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;

}

.info {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.product {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    margin: auto;
    width: 50%;
}
