.cart
{
    margin: auto;
    min-width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart input
{
    width: 100%;
    padding: 1rem;
}