.login
{
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login input
{
    padding: 1rem;
}

.title
{
    color: white;

}

.container
{
    color: black;
    background-color: rgb(255, 217, 0);
    width: 400%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}