.login
{
    margin: auto;
    justify-content: center;
    align-items: center;
}

.logo
{
    width: 600px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}