.container {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.navbarLogoStyles
{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    align-items: center;
}

.product {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 1rem;
    margin: auto;
    width: 50%;
}


.product img {
    width: 50%;
}

.imageTag
{
    width: 50%;
}


.info {
    flex-direction: column;
    width: 50%;
    color: black;
    position: relative;
    
}

.info span {
    flex-direction: row;
    width: 100%;
    
}

.quantity button,
.quantity input {
    padding: 0.5rem;
}

.cart {
    background-color: goldenrod;
    padding: 10px 20px;
    border: none;
    width: 100%;
    margin-top: 2rem;
    cursor: pointer;
}

.updateItem
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.containerUpdateItem {
    background-color: white;
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}





